# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / editor junk
.DS_Store
.idea/
.vscode/

# Env / secrets
.env
.env.*
*.pem

# Native folders (if you ever prebuild/eject)
ios/
android/

# TypeScript / caches
*.tsbuildinfo
