EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_FACEBOOK_LOGIN_ENABLED=true
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
GOOGLE_IOS_CLIENT_BUNDLE_ID=
GOOGLE_MAPS_ANDROID_API_KEY=
APP_VARIANT=
IOS_BUNDLE_IDENTIFIER=
ANDROID_PACKAGE_IDENTIFIER=
ENABLE_APPLE_PAY=false
STRIPE_APPLE_MERCHANT_IDENTIFIER=merchant.com.litterbugs.app
